<div class="container mx-3 mb-0 pb-4">
    <p-fieldset styleClass="sombra-black">
        <ng-template pTemplate="header">
            <div class="flex align-items-center text-primary fadeinleft animation-duration-400">
                <h2 class="text-white"> {{ labels.typeMinerals }} <span class="text-sm"> Gestión de tipos de minerales</span> </h2>
            </div>
        </ng-template>
        <div class="grid">
            <div class="col-12 fadeindown animation-duration-400">
                <div class="sombra-black border-round-xl p-2 surface-0">
                    <app-toolbar-common
                        [serviceGeneric]="typeMineralService" 
                        [object]="selectedTypeMineral"/> 
                    <app-modal-form ></app-modal-form> 
                    <app-modal-delete [serviceGeneric]="typeMineralService" [objectId]="selectedTypeMineral?.id"></app-modal-delete>
                    <app-generic-table 
                        [items]="typeMinerals"
                        [tableColumnDefinitions]="tableColumnDefinitions"
                        (onSelection)="setSelected($event)"
                        (requestData)="getTypeMinerals()"
                        (selfEmitter)="onTableSelfEmision($event)"
                    ></app-generic-table>
                </div>
            </div>
        </div>
    </p-fieldset>
</div>