<div class="grid flex px-5 mt-5">
  <div class="col-12 flex flex justify-content-center align-items-start mb-4">
    <div class="background-gray-blured px-4 py-2">
      <p
        [ngClass]="['text-center', 'typing-effect', 'title-welcome', 'font-bold', 'lynch-900', hideBorderTyping? 'border-none white-space-normal': '']">
        {{ messages.welcomePage }}
      </p>
    </div>
  </div>

  <div class="col-12 flex justify-content-center align-items-center zoomin animation-duration-1000">
    <img src="/assets/images/comcar.png" alt="Logo COMCAR" class="floating-img">
  </div>
</div>