<form [formGroup]="formSupplier">

  <div class="grid">
    <div class="col-12">
      <p-dialog [(visible)]="openModal" styleClass="w-10 md:w-6 lg:w-4" [header]="tittleForm" [modal]="true"
        class="p-fluid">
        <ng-template pTemplate="content">

          <app-message-required-field></app-message-required-field>

          <div class="form-group field mt-5">
            <p-float-label>
              <input type="text" pInputText id="name" formControlName="name" class="w-full" />
              <label htmlFor="name" class="text-lg font-bold text-800 required-field"> {{ labels.name }} </label>
            </p-float-label>
            @if (formSupplier.controls['name'].touched && formSupplier.get('name')?.hasError('required')) {
            <small class="p-error block mt-2"> {{ messages.requiredField }} </small>
            }
            @if (formSupplier.get('name')?.hasError('pattern')) {
            <small class="p-error block mt-2">{{ messages.deniedCharactersName }}</small>
            }
            @if (formSupplier.get('name')?.hasError('minlength')) {
            <small class="p-error block mt-2">{{ messages.requiredMinLength }}</small>
            }
            @if (formSupplier.get('name')?.hasError('noSpace')) {
            <small class="p-error block mt-2">{{ messages.noOnlySpace }}</small>
            }
          </div>

          <div class="form-group field mt-5">
            <p-float-label>
              <input type="text" pInputText id="surname" formControlName="surname" class="w-full" />
              <label htmlFor="surname" class="text-lg font-bold text-800"> {{ labels.surnames }} </label>
            </p-float-label>
            @if (formSupplier.get('surname')?.hasError('pattern')) {
            <small class="p-error block mt-2">{{ messages.deniedCharactersName }}</small>
            }
            @if (formSupplier.get('surname')?.hasError('minlength')) {
            <small class="p-error block mt-2">{{ messages.requiredMinLength }}</small>
            }
            @if (formSupplier.get('surname')?.hasError('noSpace')) {
            <small class="p-error block mt-2">{{ messages.noOnlySpace }}</small>
            }
          </div>

          <div class="form-group field mt-5">
            <p-float-label>
              <input type="text" pInputText id="documentNumber" formControlName="documentNumber" class="w-full" />
              <label htmlFor="documentNumber" class="text-lg font-bold text-800 required-field"> {{ labels.docNumber }}
              </label>
            </p-float-label>
            @if (formSupplier.controls['documentNumber'].touched &&
            formSupplier.get('documentNumber')?.hasError('required')) {
            <small class="p-error block mt-2"> {{ messages.requiredField }} </small>
            }
            @if (formSupplier.get('documentNumber')?.hasError('pattern')) {
            <small class="p-error block mt-2">{{ messages.deniedCharactersDocument }}</small>
            }
            @if (formSupplier.get('documentNumber')?.hasError('minlength')) {
            <small class="p-error block mt-2">{{ messages.requiredMinLengthDocument }}</small>
            }
            @if (formSupplier.get('documentNumber')?.hasError('noSpace')) {
            <small class="p-error block mt-2">{{ messages.noOnlySpace }}</small>
            }
          </div>

          <div class="form-group field mt-5">
            <p-float-label>
              <input type="text" pInputText id="address" formControlName="address" class="w-full" />
              <label htmlFor="address" class="text-lg font-bold text-800"> {{ labels.address }} </label>
            </p-float-label>
            @if (formSupplier.get('address')?.hasError('minlength')) {
            <small class="p-error block mt-2">{{ messages.requiredMinLength }}</small>
            }
            @if (formSupplier.get('address')?.hasError('noSpace')) {
            <small class="p-error block mt-2">{{ messages.noOnlySpace }}</small>
            }
          </div>

        </ng-template>
        <ng-template pTemplate="footer">
          <div class="p-2 pb-3">
            <button type="button" pButton pRipple [label]="buttons.cancel" icon="pi pi-times" severity="secondary"
              [rounded]="true" size="small" class="mr-2 shadow-3" (click)="hideModal()"></button>
            <button pButton pRipple [label]="buttons.save" icon="pi pi-check" [rounded]="true" size="small"
              class="mr-2 shadow-3 hover-primary" (click)="saveSupplier()" [disabled]="formSupplier.invalid">
            </button>
          </div>
        </ng-template>
      </p-dialog>
    </div>
  </div>
</form>