<form [formGroup]="formLiquidation">

  <div class="grid">
    <div class="col-12">
      <p-dialog [(visible)]="openModal" styleClass="w-11" [header]="tittleForm" [modal]="true" class="p-fluid">
        <ng-template pTemplate="content">

          <app-message-required-field></app-message-required-field>

          <div class="grid">
            <div class="form-group field mt-6 col-3">
              <p-float-label>
                <p-select inputId="liquidationType" formControlName="liquidationType"
                  [options]="liquidationTypes | keyvalue" optionLabel="value" optionValue="value" [filter]="true"
                  filterBy="value" styleClass="w-full" appendTo="body"
                  (onChange)="onChangedLiquidationType()"></p-select>
                <label for="liquidationType" class="text-lg font-bold text-800 required-field"> {{
                  labels.liquidationType }} </label>
              </p-float-label>
            </div>

            <div class="form-group field mt-6 col-3">
              <p-float-label>
                <p-select inputId="loadId" formControlName="loadId" [options]="loads" optionLabel="correlativeLotCode"
                  optionValue="id" [filter]="true" filterBy="value" styleClass="w-full" appendTo="body"
                  (onChange)="onChagedLoad()">
                  <ng-template let-lot #item>
                    <div class="border-bottom-1 border-primary pb-2">
                      <div>
                        {{ labels.lot }}:
                        <b>{{ lot.correlativeLotCode }}</b>
                      </div>
                      <div>
                        {{ labels.supplier }}:
                        <b>{{ lot.supplierName }}</b>
                      </div>
                      <div>
                        {{ labels.weight }}:
                        <b>{{ lot.weight | formatFieldAmount }}</b>
                      </div>
                    </div>
                  </ng-template>
                </p-select>
                <label for="loadId" class="text-lg font-bold text-800 required-field"> {{ labels.loads }} </label>
              </p-float-label>
            </div>

            <div class="form-group field mt-6 col-2">
              <p-float-label>
                <div
                  [ngClass]="['p-2 non-editable-field flex align-items-center', correlativeLotCode()? 'p-inputwrapper-filled': '']">
                  {{ correlativeLotCode() }}
                </div>
                <label class="text-lg font-bold text-800 required-field"> {{ labels.lot }} </label>
              </p-float-label>
            </div>

            <div class="form-group field mt-6 col-2">
              <p-float-label>
                <p-datepicker id="admissionDate" styleClass="w-full" [showIcon]="true" dateFormat="dd/mm/yy"
                  appendTo="body" formControlName="admissionDate">
                </p-datepicker>
                <label htmlFor="admissionDate" class="text-lg font-bold text-800 required-field"> {{
                  labels.admissionDate }} </label>
              </p-float-label>
            </div>

            <div class="form-group field mt-6 col-2">
              <p-float-label>
                <p-datepicker id="liquidationDate" styleClass="w-full" [showIcon]="true" dateFormat="dd/mm/yy"
                  appendTo="body" formControlName="liquidationDate">
                </p-datepicker>
                <label htmlFor="liquidationDate" class="text-lg font-bold text-800 required-field"> {{
                  labels.liquidationDate }} </label>
              </p-float-label>
            </div>

            <div class="form-group field mt-4 col-3">
              <p-float-label>
                <p-select inputId="supplierId" formControlName="supplierId" [options]="suppliers" optionLabel="fullName"
                  optionValue="id" [filter]="true" filterBy="fullName" styleClass="w-full" appendTo="body"></p-select>
                <label for="supplierId" class="text-lg font-bold text-800 required-field"> {{ labels.supplier }}
                </label>
              </p-float-label>
            </div>

            <div class="form-group field mt-4 col-3">
              <p-float-label>
                <p-select inputId="mineralId" formControlName="mineralId" [options]="minerals" optionLabel="name"
                  optionValue="id" [filter]="true" filterBy="fullName" styleClass="w-full" appendTo="body"></p-select>
                <label for="mineralId" class="text-lg font-bold text-800 required-field"> {{ labels.mineral }}
                </label>
              </p-float-label>
            </div>

            <div class="form-group field mt-4 col-2">
              <p-float-label>
                <p-select inputId="typeMineralId" formControlName="typeMineralId" [options]="typeMineral"
                  optionLabel="name" optionValue="id" [filter]="true" filterBy="fullName" styleClass="w-full"
                  appendTo="body"></p-select>
                <label for="typeMineralId" class="text-lg font-bold text-800 required-field"> {{ labels.typeMineral }}
                </label>
              </p-float-label>
            </div>

            <div class="form-group field mt-4 col-2">
              <p-float-label>
                <p-select inputId="cooperativeId" formControlName="cooperativeId" [options]="cooperatives"
                  optionLabel="name" optionValue="id"
                  [showClear]="formLiquidation.value.liquidationType == liquidationTypes.PARTICULAR" [filter]="true"
                  filterBy="value" styleClass="w-full" appendTo="body" (onChange)="onChangedCooperative()"></p-select>
                <label for="cooperativeId"
                  [ngClass]="['text-lg font-bold text-800', formLiquidation.value.liquidationType == liquidationTypes.COOPERATIVE? 'required-field': '']">
                  {{ labels.cooperative }} </label>
              </p-float-label>
            </div>

            <div class="form-group field mt-4 col-2">
              <p-float-label>
                <p-select inputId="mineId" formControlName="mineId" [options]="mines" optionLabel="name"
                  optionValue="id" [showClear]="formLiquidation.value.liquidationType == liquidationTypes.PARTICULAR"
                  [filter]="true" filterBy="value" styleClass="w-full" appendTo="body"></p-select>
                <label for="mineId"
                  [ngClass]="['text-lg font-bold text-800', formLiquidation.value.liquidationType == liquidationTypes.COOPERATIVE? 'required-field': '']">
                  {{ labels.mine }} </label>
              </p-float-label>
            </div>

          </div>
          <div class="grid">
            <div class="form-group field mt-3 col-3">
              <p-float-label>
                <p-inputNumber id="exchangeRate" mode="decimal" locale="en-US" [minFractionDigits]="2"
                  [maxFractionDigits]="2" [useGrouping]="false" [min]="0" formControlName="exchangeRate"
                  styleClass="w-full" (onInput)="calculateTotalsPriceAndLaws()" />
                <label htmlFor="exchangeRate" class="text-lg font-bold text-800 required-field">
                  {{ labels.exchangeRate}}
                </label>
              </p-float-label>
            </div>
            <div class="form-group field mt-3 col-3">
              <p-float-label>
                <p-inputNumber id="metricWetKilograms" mode="decimal" locale="en-US" [minFractionDigits]="2"
                  [maxFractionDigits]="2" [useGrouping]="false" [min]="0" formControlName="metricWetKilograms"
                  styleClass="w-full" (onInput)="onChangedWetKilograms()" />
                <label htmlFor="metricWetKilograms" class="text-lg font-bold text-800 required-field"> {{
                  labels.metricWetKilograms }} </label>
              </p-float-label>
            </div>

            <div class="form-group field mt-3 col-2">
              <p-float-label>
                <p-inputNumber id="humidityPercentage" mode="decimal" locale="en-US" [minFractionDigits]="2"
                  [maxFractionDigits]="2" [useGrouping]="false" [min]="0" formControlName="humidityPercentage"
                  styleClass="w-full" (onInput)="calculateSolidMetricWetTonnes()" />
                <label htmlFor="humidityPercentage" class="text-lg font-bold text-800 required-field"> {{
                  labels.humidityPercentage }} </label>
              </p-float-label>
            </div>

            <div class="form-group field mt-3 col-2">
              <p-float-label>
                <div
                  [ngClass]="['p-2 non-editable-field flex align-items-center justify-content-end', formLiquidation.value.metricWetKilograms? 'p-inputwrapper-filled': '']">
                  {{ solidMetricTonnes * 1000 | formatFieldAmount }}
                </div>
                <label class="text-lg font-bold text-800 required-field"> {{ labels.solidMetricKilograms }} </label>
              </p-float-label>
            </div>
            <div class="form-group field mt-3 col-2">
              <p-float-label>
                <div
                  [ngClass]="['p-2 non-editable-field flex align-items-center justify-content-end', formLiquidation.value.metricWetKilograms? 'p-inputwrapper-filled': '']">
                  {{ solidMetricTonnes | formatFieldAmount }}
                </div>
                <label class="text-lg font-bold text-800 required-field"> {{ labels.solidMetricTonnes }} </label>
              </p-float-label>
            </div>
          </div>
          <div class="grid mt-3">
            <div class="col-6">
              <h3 class="text-center text-xl font-bold">Precios y leyes</h3>
              <table class="mt-2 w-full border-1 border-round border-solid pr-3 py-3 surface-ground">
                <thead>
                  <tr>
                    <th class="w-4 text-lg font-semibold">Mineral</th>
                    <th class="w-3 text-lg font-semibold">Precio (USD)</th>
                    <th class="w-3 text-lg font-semibold">Ley</th>
                    <th class="w-2 text-lg font-semibold text-right">Sub Total (USD)</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      <h4 class="text-center mr-4">{{ labels.silver }}</h4>
                    </td>
                    <td>
                      <p-inputNumber id="priceSilver" mode="decimal" locale="en-US" [minFractionDigits]="2"
                        [maxFractionDigits]="2" [useGrouping]="false" [min]="0" formControlName="priceSilver"
                        styleClass="w-full" (onInput)="calculateTotalsPriceAndLaws()" />
                    </td>
                    <td class="text-center">
                      <p-inputNumber id="lawSilver" [useGrouping]="false" [min]="1" formControlName="lawSilver"
                        styleClass="w-full" (onInput)="calculateTotalsPriceAndLaws()" />
                    </td>
                    <td class="text-right">
                      <h4>{{ totalSilver | formatFieldAmount }}</h4>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <h4 class="text-center mr-4">{{ labels.zinc }}</h4>
                    </td>
                    <td>
                      <p-inputNumber id="priceZinc" mode="decimal" locale="en-US" [minFractionDigits]="2"
                        [maxFractionDigits]="2" [useGrouping]="false" [min]="0" formControlName="priceZinc"
                        styleClass="w-full" (onInput)="calculateTotalsPriceAndLaws()" />
                    </td>
                    <td class="text-center">
                      <p-inputNumber id="lawZinc" [useGrouping]="false" [min]="1" formControlName="lawZinc"
                        styleClass="w-full" (onInput)="calculateTotalsPriceAndLaws()" />
                    </td>
                    <td class="text-right">
                      <h4>{{ totalZinc | formatFieldAmount }}</h4>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <h4 class="text-center mr-4">{{ labels.lead }}</h4>
                    </td>
                    <td>
                      <p-inputNumber id="priceLead" mode="decimal" locale="en-US" [minFractionDigits]="2"
                        [maxFractionDigits]="2" [useGrouping]="false" [min]="0" formControlName="priceLead"
                        styleClass="w-full" (onInput)="calculateTotalsPriceAndLaws()" />
                    </td>
                    <td class="text-center">
                      <p-inputNumber id="lawLead" [useGrouping]="false" [min]="1" formControlName="lawLead"
                        styleClass="w-full" (onInput)="calculateTotalsPriceAndLaws()" />
                    </td>
                    <td class="text-right">
                      <h4>{{ totalLead | formatFieldAmount }}</h4>
                    </td>
                  </tr>
                  <tr class="font-bold text-lg">
                    <td class="text-right pt-3" colspan="3">{{ labels.total }} USD</td>
                    <td class="text-right">
                      {{ totalMineralsUsd | formatFieldAmount }}
                    </td>
                  </tr>
                  <tr class="font-bold text-lg">
                    <td class="text-right pt-3" colspan="3">{{ labels.total }} Bs</td>
                    <td class="text-right">
                      {{ totalMineralsBs | formatFieldAmount }}
                    </td>
                  </tr>
                  <tr class="font-bold text-lg">
                    <td class="text-right pt-3" colspan="3">{{ labels.totalImport }} Bs</td>
                    <td class="text-right">
                      {{ totalImportBs | formatFieldAmount }}
                    </td>
                  </tr>

                </tbody>
              </table>
            </div>
            <div class="col-6">
              <h3 class="text-center text-xl font-bold">{{ labels.discounts }}</h3>
              @if (formLiquidation.value.liquidationType == liquidationTypes.COOPERATIVE) {
              <table class="mt-2 border-1 border-round border-solid pr-3 py-3 surface-ground w-full">
                <thead>
                  <tr>
                    <th class="w-4 text-lg font-semibold">{{ labels.royalties }}</th>
                    <th class="w-5 text-lg font-semibold">Cot. Semanal</th>
                    <th class="w-3 text-lg font-semibold text-right"> {{ labels.subTotal }} (Bs)</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      <h4 class="text-center mr-4">{{ labels.royaltySilver }}</h4>
                    </td>
                    <td>
                      <p-inputNumber id="quotationSilver" mode="decimal" locale="en-US" [minFractionDigits]="2"
                        [maxFractionDigits]="2" [useGrouping]="false" [min]="limits.minPercent"
                        [max]="limits.maxPercent" formControlName="quotationSilver" styleClass="w-full"
                        (onInput)="calculateRoyaltySilver()" />
                    </td>
                    <td class="text-right">
                      <h4>{{ formLiquidation.value.royaltySilver?? 0 | formatFieldAmount }}</h4>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <h4 class="text-center mr-4">{{ labels.royaltyZinc }}</h4>
                    </td>
                    <td>
                      <p-inputNumber id="quotationZinc" mode="decimal" locale="en-US" [minFractionDigits]="2"
                        [maxFractionDigits]="2" [useGrouping]="false" [min]="limits.minPercent"
                        [max]="limits.maxPercent" formControlName="quotationZinc" styleClass="w-full"
                        (onInput)="calculateRoyaltyZincAndLead(true)" />
                    </td>
                    <td class="text-right">
                      <h4>{{ formLiquidation.value.royaltyZinc?? 0 | formatFieldAmount }}</h4>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <h4 class="text-center mr-4">{{ labels.royaltyLead }}</h4>
                    </td>
                    <td>
                      <p-inputNumber id="quotationLead" mode="decimal" locale="en-US" [minFractionDigits]="2"
                        [maxFractionDigits]="2" [useGrouping]="false" [min]="limits.minPercent"
                        [max]="limits.maxPercent" formControlName="quotationLead" styleClass="w-full"
                        (onInput)="calculateRoyaltyZincAndLead(false)" />
                    </td>
                    <td class="text-right">
                      <h4>{{ formLiquidation.value.royaltyLead?? 0 | formatFieldAmount }}</h4>
                    </td>
                  </tr>
                </tbody>
              </table>
              }
              <table class="mt-2 border-1 border-round border-solid pr-3 py-3 surface-ground">
                <thead>
                  <tr>
                    <th class="w-5 text-lg font-semibold"> {{ labels.concept }} </th>
                    <th class="w-5 text-lg font-semibold"> {{ labels.percentage }} %</th>
                    <th class="w-2 text-lg font-semibold text-right"> {{ labels.subTotal }} (Bs)</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      <h4 class="text-center mr-4">{{ labels.rmPercentage }}</h4>
                    </td>
                    <td>
                      <p-inputNumber id="miningRoyalties" mode="decimal" locale="en-US" [minFractionDigits]="2"
                        [maxFractionDigits]="2" [useGrouping]="false" [min]="limits.minPercent"
                        [max]="limits.maxPercent" formControlName="miningRoyalties" styleClass="w-full"
                        (onInput)="calculateDiscounts()" />
                    </td>
                    <td class="text-right">
                      <h4>{{ miningRoyaltiesDiscount | formatFieldAmount }}</h4>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <h4 class="text-center mr-4">{{ labels.cajaNacional }}</h4>
                    </td>
                    <td>
                      <p-inputNumber id="cajaNacional" mode="decimal" locale="en-US" [minFractionDigits]="2"
                        [maxFractionDigits]="2" [useGrouping]="false" [min]="limits.minPercent"
                        [max]="limits.maxPercent" formControlName="cajaNacional" styleClass="w-full"
                        (onInput)="calculateDiscounts()" />
                    </td>
                    <td class="text-right">
                      <h4>{{ cajaNacionalDiscount | formatFieldAmount }}</h4>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <h4 class="text-center mr-4">{{ labels.comibol }}</h4>
                    </td>
                    <td>
                      <p-inputNumber id="comibol" mode="decimal" locale="en-US" [minFractionDigits]="2"
                        [maxFractionDigits]="2" [useGrouping]="false" [min]="limits.minPercent"
                        [max]="limits.maxPercent" formControlName="comibol" styleClass="w-full"
                        (onInput)="calculateDiscounts()" />
                    </td>
                    <td class="text-right">
                      <h4>{{ comibolDiscount | formatFieldAmount }}</h4>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <h4 class="text-center mr-4">{{ labels.fedecomin }}</h4>
                    </td>
                    <td>
                      <p-inputNumber id="fedecomin" mode="decimal" locale="en-US" [minFractionDigits]="2"
                        [maxFractionDigits]="2" [useGrouping]="false" [min]="limits.minPercent"
                        [max]="limits.maxPercent" formControlName="fedecomin" styleClass="w-full"
                        (onInput)="calculateDiscounts()" />
                    </td>
                    <td class="text-right">
                      <h4>{{ fedecominDiscount | formatFieldAmount }}</h4>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <h4 class="text-center mr-4">{{ labels.fencomin }}</h4>
                    </td>
                    <td>
                      <p-inputNumber id="fencomin" mode="decimal" locale="en-US" [minFractionDigits]="2"
                        [maxFractionDigits]="2" [useGrouping]="false" [min]="limits.minPercent"
                        [max]="limits.maxPercent" formControlName="fencomin" styleClass="w-full"
                        (onInput)="calculateDiscounts()" />
                    </td>
                    <td class="text-right">
                      <h4>{{ fencominDiscount | formatFieldAmount }}</h4>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <h4 class="text-center mr-4">{{ labels.cooperativeContribution }}</h4>
                    </td>
                    <td>
                      <p-inputNumber id="cooperativeContribution" mode="decimal" locale="en-US" [minFractionDigits]="2"
                        [maxFractionDigits]="2" [useGrouping]="false" [min]="limits.minPercent"
                        [max]="limits.maxPercent" formControlName="cooperativeContribution" styleClass="w-full"
                        (onInput)="calculateDiscounts()" />
                    </td>
                    <td class="text-right">
                      <h4>{{ cooperativeContributionDiscount | formatFieldAmount }}</h4>
                    </td>
                  </tr>
                  <tr>
                    <td class="text-center">
                      <h4 class="my-2">{{ labels.firstAdvance }}</h4>
                    </td>
                    <td class="text-center">-</td>
                    <td class="text-right">
                      <h4 class="my-2">{{ formLiquidation.value.firstAdvance?? 0 | formatFieldAmount }}</h4>
                    </td>
                  </tr>
                  <tr>
                    <td class="text-center">
                      <h4>{{ labels.secondAdvance }}</h4>
                    </td>
                    <td class="text-center">-</td>
                    <td>
                      <p-inputNumber id="secondAdvance" mode="decimal" locale="en-US" [minFractionDigits]="2"
                        [maxFractionDigits]="2" [useGrouping]="false" [min]="0" formControlName="secondAdvance"
                        styleClass="w-full" (onInput)="calculateTotals()" />
                    </td>
                  </tr>
                  <tr class="font-bold text-xl">
                    <td class="text-right pt-4 pr-3" colspan="2">{{ labels.totalDiscounts }} Bs</td>
                    <td class="text-right">
                      {{ totalDiscountsBs | formatFieldAmount }}
                    </td>
                  </tr>
                  <tr class="font-bold text-xl">
                    <td class="text-right pt-2 pr-3" colspan="2">{{ labels.transportationBonus }} Bs</td>
                    <td>
                      <p-inputNumber id="transportationBonus" mode="decimal" locale="en-US" [minFractionDigits]="2"
                        [maxFractionDigits]="2" [useGrouping]="false" [min]="0" formControlName="transportationBonus"
                        styleClass="w-full" (onInput)="calculateTotals()" />
                    </td>
                  </tr>
                  <tr class="font-bold text-xl">
                    <td class="text-right pt-2 pr-3" colspan="2">{{ labels.liquidPayable }} Bs</td>
                    <td class="text-right">
                      {{ liquidPayableBs | formatFieldAmount }}
                    </td>
                  </tr>
                  <tr class="font-bold text-xl">
                    <td class="text-right pt-2 pr-3" colspan="2">{{ labels.exchangeRate }}</td>
                    <td>
                      <p-inputNumber id="exchangeRateAmountPayable" mode="decimal" locale="en-US"
                        [minFractionDigits]="2" [maxFractionDigits]="2" [useGrouping]="false" [min]="0"
                        formControlName="exchangeRateAmountPayable" styleClass="w-full"
                        (onInput)="calculateTotalUSD()" />
                    </td>
                  </tr>
                  <tr class="font-bold text-xl">
                    <td class="text-right pt-2 pr-3" colspan="2">{{ labels.liquidPayable }} USD</td>
                    <td class="text-right">
                      {{ liquidPayableUsd | formatFieldAmount }}
                    </td>
                  </tr>

                </tbody>
              </table>
            </div>

          </div>


        </ng-template>
        <ng-template pTemplate="footer">
          <div class="p-2 pb-3">
            <button type="button" pButton pRipple [label]="buttons.cancel" icon="pi pi-times" severity="secondary"
              [rounded]="true" size="small" class="mr-2 shadow-3" (click)="hideModal()"></button>
            <button pButton pRipple [label]="buttons.save" icon="pi pi-check" [rounded]="true" size="small"
              class="mr-2 shadow-3 hover-primary" (click)="saveLiquidation()" [disabled]="formLiquidation.invalid">
            </button>
          </div>
        </ng-template>
      </p-dialog>
    </div>
  </div>
</form>