@if (showToolbar) {
<p-toolbar>
  <ng-template pTemplate="left">
    <div class="my-2">
      @if (showCreate) {
      <p-button [icon]="'pi ' + iconCreate" [pTooltip]="tooltipCreate" size="small" [rounded]="true" severity="info"
        styleClass="mr-2 sombra-black hover-info fadeinup animation-ease-in-out animation-duration-300"
        (click)="create()"></p-button>
      }
      @if (showEdit) {
      <p-button [icon]="'pi ' + iconEdit" [pTooltip]="tooltipEdit" size="small" [rounded]="true" severity="warn"
        styleClass="mr-2 sombra-black hover-warn fadeinup animation-ease-in-out animation-duration-300"
        (click)="edit()"></p-button>
      }
      @if (showDelete) {
      <p-button [icon]="'pi ' + iconDelete" [pTooltip]="tooltipDelete" size="small" [rounded]="true" severity="danger"
        styleClass="mr-2 sombra-black hover-danger fadeinup animation-ease-in-out animation-duration-300"
        (click)="deleteRow()"></p-button>
      }
      <ng-content></ng-content>
    </div>
  </ng-template>
</p-toolbar>
}